pip
anyio
click
colorama
contourpy
cycler

fastapi
fonttools
h11
idna
importlib-resources
kiwisolver
matplotlib
numpy
packaging
pandas
pandasql
Pillow
pydantic
pyparsing
python-dateutil
pytz
seaborn
six
sniffio
SQLAlchemy
sqldf
starlette
typing_extensions
uvicorn
zipp
